# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

/[Rr]ecordings/

/.vs/

/.gradle/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

crashlytics-build.properties

/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

# Node.js default ignores for nested node folder
**/node_modules/
**/npm-debug.log
**/yarn-error.log
**/package-lock.json
**/yarn.lock
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/.eslintcache
**/.next
**/out
**/dist
**/.nuxt
**/.cache

# React specific ignores
**/build/
**/.DS_Store
**/coverage/
**/public/
